/node_modules
/public/hot
/public/storage
/public/build
/public/dist
/public/vendor/livewire
/public/vendor/conduit
/public/css/filament
/public/js/filament
/public/livewire
/public/mix-manifest.json
/storage/*.key
/storage/app/analytics/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.php-cs-fixer.cache
auth.json
